
.point{
   pointer-events: all;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  
.point.visited{
  content: url(../img/point__active.png);
}
  .point__content{
   display: none;
  }
  .point1{
    left: 80%;
    top: 34%;
  }
  .point2{
    left: 20%;
    top: 20%;
    
  }
  .point3{
   left: 10%;
  }



  .pop_up-img {
   
    position: absolute;
    width: 0;
    height: 0;
  }
  .pop_up-img__inner {
   
  }
  .pop_up-img__slider-img {
    
  }

  .pop_up-img.active {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
  }
  .pop_up-img__inner.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pop_up-img__slider-img.active {
    width: 50%;
    height: 50%;
  }
  .point:hover{
   
 transform-origin: center bottom;
 animation: point 2s linear infinite;
  }
  .point.visited:hover{
    
 transform-origin: center bottom;
 animation: point 2s linear infinite;
  }
  @keyframes point {
    0%{  transform: rotate(0deg);}
    25%{  transform: rotate(15deg);}
    50%{  transform: rotate(0deg);}
    75%{  transform: rotate(-15deg);}
    100%{  transform: rotate(-0deg);}

  }
  .map__item-title{
    width: 45%;
  }
  .map__title {
    font-size: 25px;
    color: #FB554C;
    
   
  }
  .map__text,  .map__text-description {
    margin: 10px 0;
    font-size: 18px;
  }
 
  .swiper-slide__map{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
 .iframe__map{
  max-width: 50%;
  width: 100%;
 }


  