
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #EEF1EC;
}

::-webkit-scrollbar-thumb {
  background: #FB554C;
  border: 3px solid #EEF1EC;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #8DBAB5;
}

/* Убираем внутренние отступы */
ul,
ol[class],
li {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

a:hover {
  color: #FB554C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koulen";
}

p {
  font-family: "GeneralSans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: #000;
  padding: 0 10px 0 0;
}

h2 {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: #000;
}

h3 {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #000000;
}

h5 {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000;
}

h6 {
  font-family: "GeneralSans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #4E4F51;
}

button {
  border: none;
}

body {
  font-family: "GeneralSans";
  overflow: hidden;

  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
       

}

body.noscroll {
  overflow: hidden;
  height: 100%;
  z-index: 100;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.svg__map{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.section {
  margin: 0 auto;
  padding: 0 10px;
  width: 100vw;
  height: 100vh;
}
.area{
   fill: none;
/* stroke: red;
stroke-width: 5px; */
cursor: pointer;
pointer-events: all;
}
.area:hover{
   animation: fff 2s linear infinite;
}
@keyframes fff {
   0%{
      stroke: #000;
      stroke-width: 10px;
   }
   50%{
      stroke: red;
      stroke-width: 10px;

   }
   100%{
      stroke: #000;
      stroke-width: 10px;
      stroke-dashoffset: 10px;
      

   }

}
path:hover{
   border: 3px dashed red;
}